spring:
  sql:
    init:
      mode: never
  datasource:
    url: jdbc:h2:mem:test
    username: root
    password: admin
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
      path: /portfolio-console