<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Jakub Król - Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/styles/nailSalonStyle.css" th:href="@{/styles/nailSalonStyle.css}">
    <base href="/projects/nailSalon/clients/clientsAddClient/">

</head>
<body>
<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top navbar-custom">
    <a href="#" class="navbar-brand">JAKUB KRÓL</a>
    <button id="navbarToggler" class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
                <a href="/curriculum" class="nav-link">CURRICULUM VITAE</a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link active">PROJECTS</a>
            </li>
        </ul>
    </div>
</nav>
<section class="container-fluid px-5 py-3">
    <div class="row align-items-center">
        <a href="addClient" class="col-10 col-md-6 col-xl-4 mx-auto justify-content-center text-center text-white link-button">Add Client</a>
    </div>
    <form id="userForm" action="addClient" th:object="${clientToAdd}" method="POST">
        <input th:field="*{name}" type="text" name="name" placeholder="Name" required>
        <input th:field="*{surname}" type="text" name="surname" placeholder="Surname" required>
        <input th:field="*{email}" type="email" name="email" placeholder="Email" required>
        <input th:field="*{password}" type="password" name="password" placeholder="Password" required>
        <button type="submit">Submit</button>
    </form>
    <div id="responseMessage"></div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="../static/scripts/mainScript.js" th:src="@{/scripts/mainScript.js}"></script>
<script src="../static/scripts/nailSalonScripts.js" th:src="@{/scripts/nailSalonScripts.js}"></script>

</body>
</html>