<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Jakub Król - Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/styles/mainStyle.css" th:href="@{/styles/mainStyle.css}">

</head>
<body>
<h1 class="content">Portfolio yo</h1>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand">JAKUB KRÓL</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="/nailsalon" class="nav-link">NAIL SALON</a>
                </li>
            </ul>
        </div>
    </nav>
<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur vitae distinctio, fugiat at exercitationem delectus suscipit, atque labore laborum vero, ratione natus velit? Alias velit recusandae debitis similique tempora mollitia.
    Modi, voluptate dolorem. Non doloribus, dicta eum corrupti commodi a aspernatur! Ratione ipsum fuga mollitia eligendi aspernatur doloremque error architecto sit aliquid labore laborum, nemo consequuntur cumque nihil distinctio saepe.
    Alias deserunt illum exercitationem dolor, error quae provident quisquam nisi totam culpa aperiam sit nam, quaerat quos iusto magnam, officia cum iste est impedit corrupti nihil soluta! Maiores, eveniet magnam.
    Quos suscipit error laboriosam quae dolor, itaque natus labore excepturi cupiditate repellendus qui. Optio voluptatum earum nam modi quam! Vel cupiditate explicabo placeat consequuntur ducimus tenetur maiores! Nostrum, temporibus nisi!
    Nobis sed accusantium earum nemo ad vero asperiores in fugit iste id libero dolores nostrum ipsam cupiditate explicabo provident ducimus tenetur similique, et quisquam veritatis! Accusantium inventore accusamus nulla sed?
    Sit sint molestiae officiis optio enim! Consequatur, qui molestias veniam vero, dolorum repellendus velit blanditiis incidunt voluptatem facilis officia autem, aspernatur minima! Voluptates dolore reprehenderit, molestiae libero nobis eveniet nostrum!
    Quam, sint. Explicabo eum vero soluta laborum? Culpa sapiente nesciunt earum, obcaecati ratione, eum vitae laborum quam quae omnis libero odio iusto. Voluptatem maxime maiores nihil modi eos aliquam placeat?
    Debitis et quis nisi repellat porro minus error necessitatibus qui sed, dolorum molestias dolorem in asperiores excepturi eveniet quo facere quasi facilis? Minima quas, temporibus id earum doloribus a voluptas?
    Blanditiis quis, eligendi totam pariatur, dicta cupiditate magnam architecto ratione modi perferendis error quidem corrupti doloribus eaque, voluptate sint adipisci veniam? Nisi vitae esse quae. Odio fuga quidem rerum debitis?
    Possimus neque quibusdam dolorem velit ex labore numquam laudantium reprehenderit expedita nam corrupti consequatur, corporis commodi, soluta nemo! Error voluptate itaque accusamus. Recusandae tenetur quidem, quaerat nam blanditiis quibusdam cumque!
    Qui possimus voluptatem ipsa, quo, nostrum dolorem officiis alias, minus aut et illo magnam libero placeat vel. Provident dolor blanditiis ut asperiores labore molestiae enim rem unde. Dolorum, molestiae eveniet.
    Et, sit labore. Sunt ex veritatis alias accusantium assumenda et consequuntur neque rem reprehenderit. Deleniti aut totam alias facilis, debitis quia iusto. Qui rem temporibus eos! Accusamus, alias. Cum, nisi.
    Molestias animi totam ex nesciunt aspernatur ut doloremque distinctio dolorum optio ad, consectetur voluptates dolor fugiat illo ullam placeat quas in assumenda nisi quod temporibus? Ad laboriosam harum deserunt eligendi.
    Ullam iusto cumque a incidunt suscipit animi, iste itaque soluta mollitia veniam alias facere repudiandae perspiciatis consectetur necessitatibus delectus sequi, reprehenderit recusandae. Quia sed aperiam voluptas provident tempore, sapiente asperiores!
    Esse, deleniti illo mollitia commodi inventore facere autem sapiente maiores, aperiam voluptatibus, earum suscipit cumque animi nemo rerum porro ducimus eaque. Dolore consectetur eum vel rem eligendi, minus ex deserunt!
    Soluta nulla similique officiis, facilis dignissimos cupiditate hic, sit eos molestiae animi perferendis? Iusto, perferendis. Ex itaque laboriosam soluta voluptate! Commodi ullam ab voluptatum, eligendi quibusdam totam saepe ipsum tenetur?
    Voluptates placeat minima magni odio dicta suscipit rem nam officiis eveniet ea. Iure suscipit tempore laboriosam fugiat excepturi accusamus nam eligendi, velit, labore illo non. Cupiditate natus perferendis dicta optio!
    Repellendus possimus iusto, qui, asperiores explicabo, ipsa impedit quo veniam dolores modi aliquam iste commodi fugiat. Beatae eum, eius eos, corrupti similique quod asperiores saepe odit dignissimos assumenda, nam quis!
    Similique ea odit, nostrum sapiente natus aut magnam vitae cupiditate, hic commodi nam facilis. Dolorem dolor, sit, unde eos eveniet magni sunt voluptatum cum, odit sequi ullam sint officia dolores?
    Omnis reprehenderit maxime cum consequuntur magni adipisci obcaecati. Explicabo obcaecati fugiat similique. Porro aspernatur sequi dolore laborum eaque quidem ab at ducimus nisi modi dolor, impedit sit tempore quisquam magnam.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur vitae distinctio, fugiat at exercitationem delectus suscipit, atque labore laborum vero, ratione natus velit? Alias velit recusandae debitis similique tempora mollitia.
    Modi, voluptate dolorem. Non doloribus, dicta eum corrupti commodi a aspernatur! Ratione ipsum fuga mollitia eligendi aspernatur doloremque error architecto sit aliquid labore laborum, nemo consequuntur cumque nihil distinctio saepe.
    Alias deserunt illum exercitationem dolor, error quae provident quisquam nisi totam culpa aperiam sit nam, quaerat quos iusto magnam, officia cum iste est impedit corrupti nihil soluta! Maiores, eveniet magnam.
    Quos suscipit error laboriosam quae dolor, itaque natus labore excepturi cupiditate repellendus qui. Optio voluptatum earum nam modi quam! Vel cupiditate explicabo placeat consequuntur ducimus tenetur maiores! Nostrum, temporibus nisi!
    Nobis sed accusantium earum nemo ad vero asperiores in fugit iste id libero dolores nostrum ipsam cupiditate explicabo provident ducimus tenetur similique, et quisquam veritatis! Accusantium inventore accusamus nulla sed?
    Sit sint molestiae officiis optio enim! Consequatur, qui molestias veniam vero, dolorum repellendus velit blanditiis incidunt voluptatem facilis officia autem, aspernatur minima! Voluptates dolore reprehenderit, molestiae libero nobis eveniet nostrum!
    Quam, sint. Explicabo eum vero soluta laborum? Culpa sapiente nesciunt earum, obcaecati ratione, eum vitae laborum quam quae omnis libero odio iusto. Voluptatem maxime maiores nihil modi eos aliquam placeat?
    Debitis et quis nisi repellat porro minus error necessitatibus qui sed, dolorum molestias dolorem in asperiores excepturi eveniet quo facere quasi facilis? Minima quas, temporibus id earum doloribus a voluptas?
    Blanditiis quis, eligendi totam pariatur, dicta cupiditate magnam architecto ratione modi perferendis error quidem corrupti doloribus eaque, voluptate sint adipisci veniam? Nisi vitae esse quae. Odio fuga quidem rerum debitis?
    Possimus neque quibusdam dolorem velit ex labore numquam laudantium reprehenderit expedita nam corrupti consequatur, corporis commodi, soluta nemo! Error voluptate itaque accusamus. Recusandae tenetur quidem, quaerat nam blanditiis quibusdam cumque!
    Qui possimus voluptatem ipsa, quo, nostrum dolorem officiis alias, minus aut et illo magnam libero placeat vel. Provident dolor blanditiis ut asperiores labore molestiae enim rem unde. Dolorum, molestiae eveniet.
    Et, sit labore. Sunt ex veritatis alias accusantium assumenda et consequuntur neque rem reprehenderit. Deleniti aut totam alias facilis, debitis quia iusto. Qui rem temporibus eos! Accusamus, alias. Cum, nisi.
    Molestias animi totam ex nesciunt aspernatur ut doloremque distinctio dolorum optio ad, consectetur voluptates dolor fugiat illo ullam placeat quas in assumenda nisi quod temporibus? Ad laboriosam harum deserunt eligendi.
    Ullam iusto cumque a incidunt suscipit animi, iste itaque soluta mollitia veniam alias facere repudiandae perspiciatis consectetur necessitatibus delectus sequi, reprehenderit recusandae. Quia sed aperiam voluptas provident tempore, sapiente asperiores!
    Esse, deleniti illo mollitia commodi inventore facere autem sapiente maiores, aperiam voluptatibus, earum suscipit cumque animi nemo rerum porro ducimus eaque. Dolore consectetur eum vel rem eligendi, minus ex deserunt!
    Soluta nulla similique officiis, facilis dignissimos cupiditate hic, sit eos molestiae animi perferendis? Iusto, perferendis. Ex itaque laboriosam soluta voluptate! Commodi ullam ab voluptatum, eligendi quibusdam totam saepe ipsum tenetur?
    Voluptates placeat minima magni odio dicta suscipit rem nam officiis eveniet ea. Iure suscipit tempore laboriosam fugiat excepturi accusamus nam eligendi, velit, labore illo non. Cupiditate natus perferendis dicta optio!
    Repellendus possimus iusto, qui, asperiores explicabo, ipsa impedit quo veniam dolores modi aliquam iste commodi fugiat. Beatae eum, eius eos, corrupti similique quod asperiores saepe odit dignissimos assumenda, nam quis!
    Similique ea odit, nostrum sapiente natus aut magnam vitae cupiditate, hic commodi nam facilis. Dolorem dolor, sit, unde eos eveniet magni sunt voluptatum cum, odit sequi ullam sint officia dolores?
    Omnis reprehenderit maxime cum consequuntur magni adipisci obcaecati. Explicabo obcaecati fugiat similique. Porro aspernatur sequi dolore laborum eaque quidem ab at ducimus nisi modi dolor, impedit sit tempore quisquam magnam.</h2>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="../static/scripts/mainScript.js" th:src="@{/scripts/mainScript.js}"></script>

</body>
</html>