<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Jakub Król - Portfolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/styles/nailSalonStyle.css" th:href="@{/styles/nailSalonStyle.css}">
    <link rel="stylesheet" href="../static/styles/calendarStyle.css" th:href="@{/styles/calendarStyle.css}">
    <base href="/projects/nailSalon/">

</head>
<body>
<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top navbar-custom">
    <a href="#" class="navbar-brand">JAKUB KRÓL</a>
    <button id="navbarToggler" class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item">
                <a href="/curriculum" class="nav-link">CURRICULUM VITAE</a>
            </li>
            <li class="nav-item">
                <a href="/projects" class="nav-link active">PROJECTS</a>
            </li>
        </ul>
    </div>
</nav>
<h1 th:text="${title}"></h1>
<div class="parent">
    <div class="div1"> </div>
    <div class="div2"> </div>
    <div class="div3"> </div>
    <div class="div4"> </div>
    <div class="div5"> </div>
    <div class="div6"> </div>
    <div class="div7"> </div>
    <div class="div8"> </div>
    <div class="div9"> </div>
    <div class="div10"> </div>
    <div class="div11"> </div>
    <div class="div12"> </div>
    <div class="div13"> </div>
    <div class="div14"> </div>
    <div class="div15"> </div>
    <div class="div16"> </div>
    <div class="div17"> </div>
    <div class="div18"> </div>
    <div class="div19"> </div>
    <div class="div20"> </div>
    <div class="div21"> </div>
    <div class="div22"> </div>
    <div class="div23"> </div>
    <div class="div24"> </div>
    <div class="div25"> </div>
    <div class="div26"> </div>
    <div class="div27"> </div>
    <div class="div28"> </div>
    <div class="div29"> </div>
    <div class="div30"> </div>
    <div class="div31"> </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="../static/scripts/mainScript.js" th:src="@{/scripts/mainScript.js}"></script>
<script src="../static/scripts/mainScript.js" th:src="@{/scripts/calendarScript.js}"></script>

</body>
</html>