body {
    background: darkgreen;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
    color: black;
    font-family: "Shadows Into Light", cursive;
    font-weight: 700;
    font-style: normal;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
}

#mainNavbar .nav-link {
    transition: all 0.5s ease-in-out;
}

#mainNavbar .nav-link:hover {
    font-weight: 800;
}

#mainNavbar.scrolled {
    background: darkred;
    transition: background 300ms;
}

.content {
    margin-top: 100px;
}

