body {
    background: darkgreen;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 300;
}

#mainNavbar .nav-link {
    transition: all 0.5s ease-in-out;
}

#mainNavbar .nav-link:hover {
    font-weight: 800;
    drop
}

#headingGroup span {
    color: #EA1C2C;
}

#mainNavbar.scrolled {
    background: rgb(222,192,222);
    transition: background 300ms;
}

.content {
    margin-top: 100px;
}

