.calendar {
    font-family: 'Arial', helvetica, sans-serif;
    width: 100%;
}

table {
    max-width: 80%;
    margin: 0 10%;
}

.calendar th, .calendar td {
    min-height: 80px;
    text-align: center;
    width: 100%;
}

.calendar-row:first-child > td.day-cell {
    padding-right: 0;
    padding-left: 0;
}

.calendar-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.calendar-row th {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-day-cell, .day-cell {
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0.1rem;
    padding: 0;
    position: relative;
    width: auto;
    height: auto;
    text-align: left;
}

.day-cell {
    border: 1px solid black;
    background: transparent;
    padding: 1.5rem 0.25rem 0 0.25rem;
    overflow: hidden;
    transition: all .2s ease;
}

.day-number {
    background: #ffffff;
    border-radius: 0 3px 0 3px;
    margin: 0;
    padding: 0.1rem 0.2rem;
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 12px;
}

.appointment {
    width: 100%;
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    background: teal;
    box-sizing: border-box;
    margin: 0 0 0.25rem 0;
    padding: 0.1rem 0.5rem;
    font-size: 13px;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.day-cell:has(.appointment):hover {
    background-color: #e1daf0cc;
    overflow: unset !important;
    flex-grow: 1 !important;
    padding: 1.5rem 0.75rem 0 0.75rem;
}

.day-cell:has(.appointment):hover > div {
    display: block;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: unset !important;
    white-space: nowrap;
}